:root {
  --background: #2b3042;
  --gray: #6c6c6d;
  --light_gray: #c9cacf;
  --yellow: #fce94b;
  --white: #ffffff;
  --black: #000000;

  --button_ctaA: #ffe404;
  --button_ctaB: #ff6b00;
}

body {
  margin: 0;
}

.container {
  margin: auto;
}

.hero {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
}

.reduza_fatura {
  margin: auto;
  text-align: right;
}

.reduza_fatura h2::before {
  content: "";
  background-color: var(--yellow);
  height: 3px;
  display: flex;
  width: 20px;
}

.passos {
  display: flex;
  justify-content: space-evenly;
}

.passo {
  background-color: var(--background);
  width: 387px;
  height: 738.64px;
  text-align: center;
}

.como_funciona {
}

.sobre_nos {
}

.beneficios {
}

.rodape {
}

.botao_cta {
  background: linear-gradient(var(--button_ctaA), var(--button_ctaB));
  height: 4.625rem;
  border-radius: 5px;
  padding: 1.875rem 1.25rem;
}
