:root {
  --background: #2b3042;
  --gray: #6c6c6d;
  --light_gray: #8b8587;
  --yellow: #fce94b;
  --white: #ffffff;
  --black: #000000;

  --button_ctaA: #ffe404;
  --button_ctaB: #ff6b00;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.centraliza-limita {
  margin: 0 auto;
  max-width: 1200px;
}

.blue-bg {
  background-color: var(--background);
}

.hero {
  display: flex;
  justify-content: space-around;
  padding: 125px;
}

.hero #logo {
  position: relative;
  top: -111px;
  left: -72px;
}

.hero #capa {
  width: 464px;
}

.hero button {
  position: relative;
  top: -111px;
}

.hero h2 {
  color: white;
  font-size: 3.25rem;
  position: relative;
  top: -150px;
  line-height: 100px;
  margin: 0;
}

.hero p {
  color: var(--light_gray);
  font-size: 1.5rem;
  position: relative;
  top: -175px;
  line-height: 70px;
  margin: 0;
}

.reduza_fatura h2 {
}

.passos {
  display: flex;
  justify-content: space-evenly;
}

.passo {
  background-color: var(--background);
  width: 387px;
  height: 738.64px;
  text-align: center;
}

.como_funciona {
}

.sobre_nos {
  background-color: var(--background);
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  padding: 178px 20px 350px 20px;
}

.sobre_nos h2 {
  font-size: 2rem;
}

.com-traco {
  position: relative;
  margin-left: 100px;
}

.com-traco::before {
  content: " ";
  display: block;
  height: 3px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: -64px;
  background: var(--yellow);
}

.sobre_nos p {
  font-size: 1.625rem;
  max-width: 729px;
}

/* hr {
  border-color: var(--yellow);
  border-bottom: 10px solid red;
  width: 40px;
  height: 1px;
} */

.miguel {
  position: relative;
  text-align: center;
  top: -250px;
  margin-bottom: -200px;
}

.miguel h3 {
  color: var(--gray);
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}

.miguel p {
  color: var(--light_gray);
  font-size: 1.625rem;
  margin: 0 auto;
}

.fale-com-a-gente {
  display: flex;
  flex-direction: column;
  max-width: 612px;
  position: relative;
  left: 200px;
  font-weight: 700;
}

.fale-com-a-gente p {
  font-size: 1.5rem;
}

.beneficios {
}

.rodape {
}

.botao_cta {
  background: linear-gradient(var(--button_ctaA), var(--button_ctaB));
  height: 4.625rem;
  width: 24.375rem;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.75rem;
}
